$font_primary: 'Bai Jamjuree', sans-serif;
$font-main-dark: #4c5054;
$font-main-light: #96a2a8;
$lightGray: #f5f6f8;
$green: hsl(171, 66%, 44%);
$blue: hsl(233, 100%, 69%);

@mixin media-lg {
    @media screen and (min-width: 1000px){
        @content;
    }
}
@mixin media-md {
    @media screen and (max-width: 743px){
        @content;
    }
}
@mixin media-sm {
    @media screen and (max-width: 460px){
        @content;
    }
}


*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: $font_primary;
    font-size: 1rem;
    line-height: 1.3rem;
    color: $font-main-light;
    background: url('../images/bg-header-desktop.png') center top/contain;
    background-repeat: no-repeat;
    
    @include media-lg{
        font-size: 1.15rem;
    }
}

// all style
.wrapper{
    padding: 0 32px 157px;
    max-width: 1110px;
    margin: auto;
    
    @include media-lg{
        padding-bottom: 142px;
    }
}

.centered{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.content{
        max-width: 700px;
    }


// headings
h1, h2, h3{
    color: $font-main-dark;font-weight: 600;
    margin-top: 0px;
}

h1{
    font-size: 1.75rem;
    margin-bottom: 25px;
    line-height: 1.2;

    @include media-lg{
        font-size: 2.5rem;
    }
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;

    @include media-lg{
        font-size: 2.125rem;
    }
}

// p
p{
    margin-bottom: 50px;
    line-height: 1.6;
}

p .large{
    font-size: 1.125rem;
}
p .medium{
    font-size: 1rem;
}
p .small{
    font-size: 0.875rem;
    max-width: 350px;
}

// buttons
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include media-sm {
        flex-direction: column;
    }

    button:first-child{
    margin-right: 16px;

    @include media-sm{
        margin-bottom: 20px;
    }
}
button{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    border: none;
    border-radius: 30px;
    padding: 16px 40px;
    cursor: pointer;
    transition: .15s ease-in-out;

    @include media-sm{
        width: 100%;
    }

    &.green{
        background: $green;
        border-bottom: 3px solid $green;
        left: 7px;

        &:hover{
            background: lighten($green, 3%);
            box-shadow: 0px 4px 14px rgba($green, 0.5);
        }
    }

    &.blue{
        background: $blue;
        border-bottom: 3px solid $blue;

        &:hover{
            background: lighten($blue, 3%);
            box-shadow: 0px 4px 14px rgba($blue, 0.5);
        }
    }
}
}
