$font_primary: 'Bai Jamjuree', sans-serif;
$font-main-dark: #4c5054;
$font-main-light: #96a2a8;
$green: hsl(171, 66%, 44%);
$blue: hsl(233, 100%, 69%);

@mixin media-lg {
    @media screen and (min-width: 1000px){
        @content;
    }
}
@mixin media-md {
    @media screen and (max-width: 700px){
        @content;
    }
}
@mixin media-sm {
    @media screen and (max-width: 420px){
        @content;
    }
}


*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: $font_primary;
    font-size: 1rem;
    line-height: 1.3rem;
    color: $font-main-light;
    
    @include media-lg{
        font-size: 1.15rem;
    }
}

// all style
.wrapper{
    padding: 0 32px 157px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include media-lg{
        padding-bottom: 0 0 142px;
    }
}
.content{
        max-width: 700px;
    }


// headings
h1, h2, h3{
    color: $font-main-dark;font-weight: 600;
    margin-top: 0px;
}

h1{
    font-size: 1.5rem;
    margin-bottom: 25px;
    line-height: 1.2;

    @include media-lg{
        font-size: 2.5rem;
    }
}

// buttons

button{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    border: none;
    border-radius: 30px;
    padding: 16px 40px;
    cursor: pointer;
    transition: .15s ease-in-out;

    @include media-sm{
        width: 100%;
    }

    &.green{
        background: $green;
        border-bottom: 3px solid $green;
        left: 7px;

        &:hover{
            background: lighten($green, 3%);
            box-shadow: 0px 4px 14px rgba($green, 0.5);
        }
    }

    &.blue{
        background: $blue;
        border-bottom: 3px solid $blue;

        &:hover{
            background: lighten($blue, 3%);
            box-shadow: 0px 4px 14px rgba($blue, 0.5);
        }
    }
}